.Container
{
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 10%;
	min-width: 10em;
	margin-right: 100px;
}
.Container > *
{
	padding-block: 10px;
}